.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  background: linear-gradient(to right, #6A50C7, #F2E6DC);

  /* Obligatoire si on veut "voir" le dégradé */
  width: 100%;
  height: 100%;
}
#dropdown-basic-button{
  width: 100%;
  text-align: left;
}

#User{

}

#UserSensors{

}

#Search{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.BarChart{
  background-color: white;
}

.wrapper{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#StackedAreaChart {
  margin-top: 4%;
}

#adc{
  margin-top: 2%;
}






/* test*/
body{
  /*width: 1500px;
  height: 740px;*/
  display: flex;
  flex-direction: row;

}

#leftSide{
  flex: 1;
  background-color:red;
  display: flex;
  flex-direction: column;
}
#userCard{
  flex:1;
  background-color : lightblue;
  margin: 20px;
  margin-bottom: 10px;
  border:solid;
}
#userSensors{
  flex:1;
  background-color : lightblue;
  margin: 20px;
  margin-top: 10px;
  border:solid;
}

#mainSide{
  flex:3;
  background-color:pink;
  display: flex;
  flex-direction: column;
}

#mainSideTop{
  flex:1;
  background-color: deepskyblue;
  margin-left: 20px;
  margin-right:20px;
  margin-top: 20px;
  margin-bottom:10px;
  display: flex;
  flex-direction: row;
}
#graphNbSensors{
  flex:1;
  background-color: gold;
  margin:20px;
  margin-right:10px;
  border: solid;
}
#graphRooms{
  flex:1;
  background-color: goldenrod;
  border:solid;
  margin:20px;
  margin-left: 10px;
}
#mainSideCenter{
  flex:1;
  background-color: dodgerblue;
  margin-left: 20px;
  margin-right:20px;
  margin-top:10px;
  margin-bottom: 10px;
  display: flex;
}
#graphMeasureSensor{
  flex:1;
  background-color: goldenrod;
  border:solid;
  margin:20px;
}
#mainSideBottom{
  flex:1;
  background-color: darkturquoise;
  margin-left: 20px;
  margin-right:20px;
  margin-bottom: 20px;
  margin-top:10px;
  display: flex;
  flex-direction: row;
}
.sensorlm{
  flex:1;
  background-color: greenyellow;
  margin:  20px;
  border: solid;
}


@media screen and (max-width: 640px) {
  #leftSide{
    display: none;
  }
  #mainSideTop{
    flex-direction: column;
  }
  #mainSideBottom{
    display: none;
  }
}
